.header
{
	background-color:gray;
	height:170px;
 }

 nav
 {
	 display:flex;
	 padding:2% 6%;
	 justify-content:space-between;
	 align-item:center;
 
 }
 nav h4 
 {
	color:white;
 }
  
 nav h4:hover
 {
	color:#47555e;
 }
 nav img
 {
	display:block;
	margin:left;
	margin-right:center;
	width:auto;
 }
 
 .links 
 {
	  flex:1;
	 text-align:right;
}
 .links ul li
 {
	
	 list-style:none;
	 display:inline-block;
	 padding:8px 12px;
	 position:relative;
 }
 .links ul li a
 {
	 color:white;
	 text-decoration:none;
	 font-size:20px;
 }
 .links ul li::after
 {
	 content:'';
	 width:0%;
	 height:2px;
	background-color:#47555e;
	display:block;
	margin:auto;
	transition:1s;
 }
 .links ul li:hover::after
 {
	 width:100%;
 }

 .text
 {
	 width:90%;
	 color:white;
	 position:absolute;
	 top:50%;
	 left:50%;
	 transform:translate(-50%,-50%);
	 text-align:center;
 }
 .text h1
 {
	font-size:70px; 
 }

 
#OFTtable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}

#OFTtable td, #OFTtable th {
  border: 1px solid #0a1429;
  padding: 8px;
}

#OFTtable tr:nth-child(even){background-color: #d6e0f5}

#OFTtable tr:hover {background-color: #adc2eb;}

#OFTtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3366cc;
  color:white;
}

#OFTcenter {
	text-align: center;
}

#OFTstable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 70%;
}






#OFTscenter {
	text-align: center;
}

.active {
  background-color: #717171;
}



.btnMore1 {
	  background-color: #0099cc;
	  border: 1px solid black;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	margin-right:100px;
}
.btnMore2 {
	  background-color: #0088cc;
	  border: 1px solid black;
	  color: white;
	  padding: 15px 32px;
	  text-align: center;
	  text-decoration: none;
	  display: inline-block;
	  font-size: 16px;
	margin-left:750px;
}
.btnMore1:hover{
	background-color: #99e6ff;
}
.btnMore2:hover{
	background-color: #99e6ff;
}
.dropbtn {
  background-color: #D6DBDF;
  color: black;
  padding: 12px;
  font-size: 15px;
  border: none;
}



.dropdown-content {
  display: none;
  position: absolute;
  background-color:#90c4d5;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #e6f9ff;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #99e6ff;}




.hr
{
	border-top:3px solid black;
	
}
.footer
{
	background-color:#7d7d7d;
	width:100%;
	text-align:center;
	padding:30px 0;
}
.footer h4
{
	color:white;
	margin-bottom:25px;
	margin-top:20px;
	font-weight:600;
}

.icon .fa
{
	color:#f44336;
	margin:0 13px;
	cursor:pointer;
	padding:18px 0;
}
