
.header
{
	background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("../Img/background.jpg");
	background-size:cover;
	width:100%;
	min-height:25vh;
	background-position:center;
	position:relative;
	backgroud-repeat:no-repeat;

 }

 nav
 {
	 display:flex;
	 padding:2% 6%;
	 justify-content:space-between;
	 align-item:center;
 
 }
 nav h4 
 {
	color:white;
 }
  
 nav h4:hover
 {
	color:#47555e;
 }
 nav img
 {
	display:block;
	margin:left;
	margin-right:center;
	width:auto;
 }
 
 .links 
 {
	  flex:1;
	 text-align:right;
}
 .links ul li
 {
	
	 list-style:none;
	 display:inline-block;
	 padding:8px 12px;
	 position:relative;
 }
 .links ul li a
 {
	 color:white;
	 text-decoration:none;
	 font-size:20px;
 }
 .links ul li::after
 {
	 content:'';
	 width:0%;
	 height:2px;
	background-color:#47555e;
	display:block;
	margin:auto;
	transition:1s;
 }
 .links ul li:hover::after
 {
	 width:100%;
 }


/*form*/

.contain
{
	
	display:flex;
	background-size:600px;
	background:black;
	box-shadow:0 0 8px rgba(250,250,250,0.6);
	opacity:0.9;
	color:white;
	justify:center;
	
}
.contain form
{
	width:100%;
	color:white;
	justify-content:center;
	padding:25px 20px;
	
} 

}
.contain h1
{
	align:center;
}
.form
{
	position:relative;
	text-align:center;
	
	
}
.form input
{
	width:360px;
	height:50px;
	margin:4px 0;
	border:1px solid #5c5c5c;
	border-radius:3px;
	background:#181717;
	padding:0 15px;
	color:white;
}
.form textarea
{
	padding :5px 15px;
	border:1px solid #5c5c5c;
	border-radius:3px;
	background:#181717;
	color:white;
	width:100%;
	margin:4px 0;
}

 .reg
 {
	 text-decoration:none;
	 color:white;
	 border: solid;
	 padding:12px 34px;
	 font-size:16px;
	 background:transparent;
	 
 }
 .reg:hover
 {
	 border: solid white;
	 background:#47555e;
	 transition:0.5s;
 }



/*Footer*/
.hr
{
	border-top:3px solid black;
	
}
.footer
{
	background-color:#7c827d;
	width:100%;
	text-align:center;
	padding:30px 0;
}
.footer h4
{
	color:white;
	margin-bottom:25px;
	margin-top:20px;
	font-weight:600;
}
.socialmedia{
    display: flex;
	padding:2% 6%;
    justify-content:space-between;
    align-items: center;
} 
