*
{
	margin:0;
	padding:0;
}
body
{
	background:url("../Img/bg1.jpg");
	background-size:cover;
	width:100%;
	min-height:100vh;
	background-position:center;
	position:relative;
	backgroud-repeat:no-repeat;

}
.header
{
	height:170px;
background-color:gray;

 }

 nav
 {
	 display:flex;
	 padding:2% 6%;
	 justify-content:space-between;
	 align-item:center;
 
 }
 nav h4 
 {
	color:black;
 }
  
 nav h4:hover
 {
	color:black;
 }
 nav img
 {
	display:block;
	margin:left;
	margin-right:center;
	width:auto;
 }
 
 .links 
 {
	  flex:1;
	 text-align:right;
}
 .links ul li
 {
	
	 list-style:none;
	 display:inline-block;
	 padding:8px 12px;
	 position:relative;
 }
 .links ul li a
 {
	 color:black;
	 text-decoration:none;
	 font-size:20px;
 }
 .links ul li::after
 {
	 content:'';
	 width:0%;
	 height:2px;
	background-color:#47555e;
	display:block;
	margin:auto;
	transition:1s;
 }
 .links ul li:hover::after
 {
	 width:100%;
 }


 
.submit-btn {
    width: 15%;
    text-align: center;
    background-color:#80e5ff;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
   font-size:15px;
    border-radius: 25px;
  margin-left:430px;

}

.submit-btn:active,
.submit-btn:hover {
  background-color:#627d84;  
}
.submit-btn1 {
    width: 15%;
    text-align: center;
    background-color:#80e5ff;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
   font-size:15px;
    border-radius: 25px;
    

}

.submit-btn1:active,
.submit-btn1:hover {
  background-color:#627d84;  
}
.submit-btn2 {
     width: 15%;
    text-align: center;
    background-color:#80e5ff;
    color: white;
    padding: 14px 20px;
    margin: 4px 0;
   font-size:15px;
    border-radius: 25px;

}

.submit-btn2:active,
.submit-btn2:hover {
  background-color:#627d84;  
}


/*Footer*/
.hr
{
	border:2px solid black;

	
}
.footer
{
		background-color:gray;
	width:100%;
	text-align:center;
	padding:30px 0;
}
.footer h4
{
	color:blue;
	margin-bottom:25px;
	margin-top:20px;
	font-weight:600;
}

.icon .fa
{
	color:black;
	margin:0 13px;
	cursor:pointer;
	padding:18px 0;
}



h1{
font-size : 25px;
margin:10px;
padding:10px;

}



.box{
	

	background-color:	#007a99;
	width:400px;
	height:300px;
	border-radius:12px;
	margin:auto;
	line-height: 30pt;
	outline-style: solid;
	outline-color: black;
}
